@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic");
*{
  -webkit-tap-highlight-color: transparent !important;
}
body {
  height: 100vh;
  font-family: 'Nunito', sans-serif !important;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent !important;
}
body::-webkit-scrollbar{
  width: 0;
}
input,
textarea {
  padding: 0.6rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;
}
input:focus,
textarea:focus {
  border-color: rgb(102, 126, 234);
}
.class-card {
  border-radius: 10px;
  overflow: hidden;
  width: max-content;
  box-shadow: 0px 0px 25px -8px rgba(0, 0, 0, 0.6);
}
.card-head {
  height: 80px;
  width: 300px;
  background-color: rgb(11, 117, 255);
  background-color: rgb(31, 41, 55);
  padding: 10px 15px;
  color: white;
}
.card-head:hover {
  text-decoration: underline;
  cursor: pointer;
}
.class-name {
  font-size: 20px;
  font-weight: 400;
}
.class-creator {
  font-size: 14px;
}
.card-profile img {
  height: 90px;
  width: 90px;
  border: 4px solid white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: -50px;
  left: 180px;
}
.card-body {
  height: 30px;
  width: 100%;
}
.class-image {
  margin: 0 auto;
  width: 100%;
}
.class-image img {
  margin: 0 auto;
  width: 1010px;
}
.alert_pos{
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  transition: 0.5s ease-in;
}
.show_alert{
  top: 5%;
}


input:checked + div {
  @apply border-blue-500;
}
input:checked + div svg {
  @apply block;
}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: white;
}
.displayFile p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.accordian_hidden{
  height: 0;
  padding: 0;
  opacity: 0;
  transition: 0.3s ease;
}
label, span{
  user-select: none;
}

.loading{
  height: 3px;
  width: 100vw;
  position: relative;
}
.loading::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, red, transparent);
  animation: changeWidth 5s infinite ease-in-out;
  border-radius: 5px;
}
@keyframes changeWidth {
  0%{
    width: 0;
  }
  50%{
    width: 100vw;
  }
  100%{
    width: 0%;
  }
}
@keyframes changeWidth2 {
  0%{
    width: 100vw;
  }
  100%{
    width: 0;
  }
}
